/* Navbar.css */

.navbar {
  background-color: #3498db;
  padding-left: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
  padding-left: 500px;
  
  
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #927777;
}

.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  background-color: #ffffff;
  color: #3498db;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.search-bar button:hover {
  background-color: #f2f2f2;
  color: #3498db;
}

.logo1 {
  border-radius: 50%;
  height: 70px;
  margin: 10px;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .navbar ul {
    padding-left: 0;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 60px;
    left: 0;
    background-color: #3498db;
    width: 100%;
    text-align: right;
    display: none;
  }

  .navbar ul.active {
    display: flex;
  }

  .navbar li {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar {
    flex-direction: column;
    position: relative;
  }

  .search-bar {
    margin-top: 10px;
  }
}
