/* Footer.css */

.footer {
  
  
  background-color: #3498db;
  padding: 20px;
  color: #ffffff;
  text-align: center;
  text-align: left;
}

.social-media {
  margin-bottom: 15px;
  text-align: center;
  text-align:end;
  

}
.social-media img {
  width: 35px; /* Adjust the size as needed */
  height: 35px; /* Adjust the size as needed */
}


.social-media a {
  display: inline-block;
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5em;
  transition: color 0.3s ease;
}


.social-media a:hover {
  color: #f2f2f2;
}

/* Responsive Styling */
@media screen and (max-width: 768px) {
  .social-media {
    text-align: center;
  }

  .social-media a {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
}
